In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("example.csv")

In [3]:
data

,a,choice,date,float,integer,mask,string,timestep,wchoice
0,9.864628,123,2022-10-11,9.864628,4,123d6456o,ac,2022-10-09 23:36:38,hello
1,8.902323,123,2022-10-07,8.902323,3,123ga456p,aa,2022-10-09 06:09:08,hello
2,9.221657,123,2022-10-10,9.221657,9,123qk456x,bb,2022-10-08 04:16:59,hello
3,7.953400,123,2022-10-10,7.953400,9,1233h4568,ca,2022-10-11 03:54:20,hello
4,6.941799,hello,2022-10-09,6.941799,2,123g2456g,cb,2022-10-08 17:19:47,hello
...,...,...,...,...,...,...,...,...,...
95,4.177250,hello,2022-10-07,4.177250,5,123kz456c,cb,2022-10-12 01:30:24,hello
96,1.719480,hello,2022-10-07,1.719480,1,123i7456m,aa,2022-10-08 03:11:14,456
97,5.021922,123,2022-10-10,5.021922,7,123z7456i,ab,2022-10-12 17:52:12,456
98,1.445987,123,2022-10-11,1.445987,5,123uu4564,bb,2022-10-10 13:36:52,hello
99,9.308947,123,2022-10-09,9.308947,2,1233r4564,ab,2022-10-09 16:04:01,456